// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
  background-image: url(friends_header_logo.png);
  background-color:rgba(255,255,255,0.5);
  background-blend-mode:lighten;
  height: 300px;
}